<!DOCTYPE html>
{% load static %}

<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <title>Transportation Authorities</title>
  <link rel ="stylesheet" type="text/css" href="{% static 'mainpage_style.css' %}">
</head>
<body>
  <div class="header">
    <h1> ConnectWays </h1>
    <p> Welcome! </p>
    <button class="button-17" role="button">Home Page</button>
    <button class="button-17" role="button">Passes Analysis</button>
    <button class="button-17" role="button">Passes Cost</button>
    <button class="button-17" role="button">Info</button>
  </div>

</body>
</html>
